In [1]:
dharani_list=['Dharani',9,9,9.567,'chowdary']
print(dharani_list)

['Dharani', 9, 9, 9.567, 'chowdary']

In [2]:
dharani_list.append(34)
print(dharani_list)

['Dharani', 9, 9, 9.567, 'chowdary', 34]

In [7]:
dharani_list.remove(9)
print(dharani_list)

['Dharani', 9.567, 'chowdary']

In [8]:
dharani_list.insert(1,'d')
print(dharani_list)

['Dharani', 'd', 9.567, 'chowdary']

In [9]:
dharani_list.remove(34)
print(dharani_list)

ValueError: list.remove(x): x not in list

In [10]:
dharani_list.remove('d')
print(dharani_list)

['Dharani', 9.567, 'chowdary']

In [11]:
dharani_list.index(2,34)
print(dharani_list)

ValueError: 2 is not in list

In [12]:
dharani_list.insert(2,34)
print(dharani_list)

['Dharani', 9.567, 34, 'chowdary']

In [13]:
min(dharani_list)
print(dharani_list)

TypeError: '<' not supported between instances of 'float' and 'str'

In [14]:
dharani=[9,123,999,45.6]
print(min(dharani))

9

In [15]:
print(max(dharani))

999